#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	min-height: 100vh;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

nav > div > * {
	margin: 0 1em;
}

.post {
	background-color: #1a1a1a;
	border-radius: 8px;
	border: 1px solid #646cff;
	padding: 0.6em 1.2em;
	margin: 2em 0;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	max-width: 50vw;
}

.post > .img-wrapper {
	height: 250px;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.img-wrapper > img {
	height: 100%;
	width: auto;
	object-fit: cover;
	border-radius: 3px;
}

header {
	position: static;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 15px;
}
